:root{
  /* --main-color: #7857fe; */
  --main-color: #000;
  --color-1: #e91e63;
  --color-2: #f5ae10;
  --color-3: #09d69c;
  --bg-dark: #2b2cff;
  --main-to-dark-color: var(--main-color);
  --dark-to-main-color: var(--bg-dark);
  --shadow-black-100: 0 5px 15px rgba(0,0,0,0.1);
  --shadow-black-300: 0 5px 15px rgba(0,0,0,0.3);
  --black-900: #000;
  --black-400: #555;
  --black-100: #f7f7f7;
  --black-00: #fff;
  --black-alpha-100: rgba(0,0,0,0.05);
}

body{
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #fff;
  line-height: 1.5;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
}

img{
  max-width: 100%;
  vertical-align: middle;
}

ul{
  list-style: none;
}

button {
  border: none !important;
  overflow: hidden !important;
}

/* NAV START ALL */

.navbar {
  background-color: transparent !important;
  padding: 20px 20px;
}

.navbar .container-fluid .offcanvas {
  background-color: #000;
  opacity: .75;
  width: 100vw;
  justify-content: center;
}

.navbar .container-fluid .offcanvas .offcanvas-body {
  display: flex;
  align-items: center;

}
.navbar .container-fluid .offcanvas .offcanvas-body ul li {
  margin-top: 5px;
  font-size : 2.8rem;
}
.navbar .container-fluid .offcanvas .offcanvas-body img {
  width: 50px;
}

/* NAV END ALL */


/* Home start */

.home {
  border: 2px solid red ;
  height: 100vh;
}

/* Home end  */